@import 'styles/_var';

$modalPadding: 16px;
$borderRadius: 10px;

.body {
  padding: 0 2.5rem;
  background-color: rgba($color: #000000, $alpha: 0.53);
  pointer-events: visible;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
  @include flex;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  width: 100%;
  max-width: 310px;
  padding: $modalPadding;
  background-color: $color-white;
  border-radius: $borderRadius;
  text-align: center;
  white-space: pre-line;
}

.info {
  $size: 90px;
  padding-top: ($size / 2 + 16px);
  position: relative;

  img {
    width: $size;
    height: $size;
    position: absolute;
    top: ($size / -2);
    left: calc(50% - #{($size / 2)});
  }

  .text {
    font-size: 16px;
  }
}

.error {
  $size: 112px;

  img {
    margin: 24px 0;
    width: $size;
    height: $size;
  }

  button {
    padding: 0.7rem 0 !important;
    border-radius: 48px !important;
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.buttonContainer {
  margin: -($modalPadding / 2);
  margin-top: 24px - ($modalPadding / 2);
  color: $color-white;
  @include flex;

  button {
    width: 100%;
    margin: ($modalPadding / 2);
    padding: 1rem;
    border-radius: $borderRadius;
    font-size: 14px;
    font-weight: 600;
  }

  .cancel {
    background-color: #888888;
  }

  .ok {
    background-color: $color-primary;
  }
}
