@import 'styles/_var';

.pageContainer {
  padding-top: 50px;
}

.body {
  @include flex(column, flex-start);
}

.checkboxContainer {
  width: 100%;
  max-width: 340px;
  margin: 20px 0 30px;
  padding: 0 $inputPadding;
  @include flex(row, flex-start, flex-start);

  .inputCheckbox {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    position: relative;
    top: -2px;
    flex-shrink: 0;
    border: 2px solid #e9e9e9;
    border-radius: 24px;

    input {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
    }

    .checkMarkContainer {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: $color-white;
      border-radius: 24px;
      transition: all 0.3s ease-out;
      @include flex;

      .checkMark {
        width: 8px;
        height: 15px;
        position: relative;
        top: -1px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: scale(0) rotate(45deg);
        opacity: 0;
        transition: all 0.3s ease-out;
      }
    }

    input:checked ~ .checkMarkContainer {
      background-color: $color-primary;

      .checkMark {
        transform: scale(0.8) rotate(45deg);
        opacity: 1;
      }
    }
  }
}

.button {
  width: 100%;
  height: 42px;
  max-width: 220px;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 42px;
  font-size: 16px;
}
