@import 'styles/_var';

.pageContainer {
  padding-top: 24px;
  background-color: $color-primary;
  color: $color-white;
  text-align: center;
}

.body {
  @include flex(column, flex-start);
}

.logo {
  width: 100%;
  max-width: 366px;
  margin-bottom: 28px;
}

.title {
  margin-bottom: 60px;
  font-size: 22px;
  line-height: 1;
}

.inputContainer {
  width: 100%;
  max-width: 400px;
  position: relative;
  $inputPadding: 24px;

  input,
  input:hover,
  input:focus {
    width: 100%;
    height: 56px;
    padding: 0 ($inputPadding + 3px);
    background-color: transparent;
    border: 2px solid $color-white;
    border-radius: 56px;
  }

  .inputLabel {
    padding: 0 5px;
    position: absolute;
    top: -16px;
    left: $inputPadding;
    background-color: $color-primary;
  }

  &.emailInput {
    margin-bottom: 35px;
  }

  &.passwordInput {
    margin-bottom: 60px;
  }
}

.button {
  width: 100%;
  height: 48px;
  max-width: 400px;
  border-radius: 48px;
  font-size: 18px;

  &.loginButton {
    margin-bottom: 30px;
    background-color: #8fce7f;
  }

  &.registerButton {
    background-color: transparent;
    border: 2px solid $color-white;
  }
}
