@import 'styles/_var';

$inputPadding: 20px;

.pageContainer {
  padding-top: 16px;
  background-color: $color-primary;
  color: $color-white;
  text-align: center;
}

.body {
  @include flex(column, flex-start);
}

.logo {
  width: 100%;
  max-width: 307px;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 1;
}

.inputContainer {
  width: 100%;
  max-width: 340px;
  position: relative;

  input,
  input:hover,
  input:focus {
    width: 100%;
    height: 48px;
    padding: 0 ($inputPadding + 2px);
    background-color: transparent;
    border: 2px solid $color-white;
    border-radius: 48px;
  }

  .inputLabel {
    padding: 0 4px;
    position: absolute;
    top: -14px;
    left: $inputPadding;
    background-color: $color-primary;
  }

  &.emailInput {
    margin-bottom: 30px;
  }

  &.passwordInput {
    margin-bottom: 50px;
  }
}

.button {
  width: 100%;
  height: 42px;
  max-width: 340px;
  border-radius: 42px;
  font-size: 16px;

  &.loginButton {
    margin-bottom: 25px;
    background-color: #8fce7f;
  }

  &.registerButton {
    background-color: transparent;
    border: 2px solid $color-white;
  }
}
