@font-face {
  font-family: 'Kodchasan';
  src: url('../assets/fonts/Kodchasan-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Kodchasan';
  src: url('../assets/fonts/Kodchasan-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Kodchasan';
  src: url('../assets/fonts/Kodchasan-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Kodchasan';
  src: url('../assets/fonts/Kodchasan-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Kodchasan';
  src: url('../assets/fonts/Kodchasan-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Kodchasan';
  src: url('../assets/fonts/Kodchasan-Bold.ttf') format('truetype');
  font-weight: 700;
}
