@import 'styles/_var';

html {
  height: 100%;
  font-family: Kodchasan;
  font-size: 14px;
  line-height: 1.5;
  background-color: gray;
  color: #000000;
  overflow-y: hidden;

  * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  a {
    color: inherit;
  }

  button,
  input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }

  button {
    cursor: pointer;
  }

  input:-webkit-autofill {
    &,
    &:hover,
    &:focus,
    &:active {
      box-shadow: none !important;
      transition-delay: 9999s;
      transition-property: background-color, color;
    }
  }
}

body {
  height: 100%;
  position: relative;
  overflow-y: hidden;
  @include flex(column, flex-start, flex-start);
}

#root {
  width: 100%;
  min-width: $pageMinWidth;
  max-width: $pageMaxWidth;
  margin: 0 auto;
  flex-grow: 1;
  background-color: #f1f1f1;
  overflow-x: hidden;
  overflow-y: scroll;
  @include flex(column, flex-start);
}
