{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript/base"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/ban-types": "off",
    "no-param-reassign": "off"
  }
}